hai-header,
hai-data,
trail {
  display:block;
}
trail {
  
}
.hai-trail-collection {
  display:inline-block;
  min-height: 60px;
}
trail_value {
  position:relative;
  float:left;
  background: #CFB957;
  border-radius:20px 20px;
  padding:10px;
  margin-top:5px;
  display:inline-block;
  max-width:300px;
  min-width:50px;
  font-size: 20px;
}
object >trail > trail_value{
  background: #57CF7C;
  min-height:35px;
}
predicate >trail > trail_value{
  background:#576ED0;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
  opacity:.9;
  position : relative;
  border-radius:0px 0px;
  margin-top:10px;
}
predicate > trail > trail_value.right-to-left {
  background: #CF57AA;

}
predicate > trail > trail_value:after,
predicate > trail > trail_value:before {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 25px solid #576ED0;
  border-left-width: 20px;
  border-right-width: 20px;
  top:0;
}
predicate > trail > trail_value:after {
  border-color: transparent;
  border-left-color: #576ED0;
  right: -40px
}
predicate > trail > trail_value.right-to-left:after {
  border-color: #CF57AA transparent #CF57AA #CF57AA;
  right:-20px;
  z-index:-10;
}
predicate > trail > trail_value:before {
  border-left-color: transparent;
  left:-20px;
  z-index:-10;
}
predicate > trail > trail_value.right-to-left:before {
  border-color: transparent #CF57AA transparent transparent;
  left: -40px;
}
trail >div {
  float:left;
}
header {
  height: 20px;
  position: fixed;
  top: 0px;
  width:100%;
}
body {
  padding-top:20px;
}
#save,
#load {
  float:right;
}
#add input {
  height: 40px;
  margin: -7px 5px;
  width: 200px;
  padding: 0px;
  font-size: 17px;
}
.uuid {
  display:none;
}
.expand,
.add-new {
  background: url(images/expand2.png);
  height: 16px;
  width: 16px;
  background-size: 16px;
  background-repeat: no-repeat;
  cursor: pointer;
  display:block;
  text-indent: -9999px;
  float:left;
}
.add-new {
  background: url(images/plus.png);
}
